<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My Movies App</span>
  <span class="spacer"></span>
  <mat-form-field appearance="outline" class="toolbar-search">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search movies" [formControl]="searchControl">
  </mat-form-field>
  <nav>
    <a mat-button routerLink="/movies" routerLinkActive="active">Movies</a>
    <a mat-button routerLink="/search" routerLinkActive="active">Search</a>
    <a mat-button routerLink="/reviews" routerLinkActive="active">Reviews</a>
    <a mat-button routerLink="/favorites" routerLinkActive="active">Favorites</a>
    <button mat-icon-button (click)="toggleDarkMode()" title="Toggle Dark Mode">
      <mat-icon>brightness_4</mat-icon>
    </button>
  </nav>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/movies" (click)="sidenav.close()">Movies</a>
      <a mat-list-item routerLink="/search" (click)="sidenav.close()">Search</a>
      <a mat-list-item routerLink="/reviews" (click)="sidenav.close()">Reviews</a>
      <a mat-list-item routerLink="/favorites" (click)="sidenav.close()">Favorites</a>
      <button mat-button (click)="toggleDarkMode()">Toggle Dark Mode</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
