<div class="movie-form">
  <h2>{{ isEditMode ? 'Edit Movie' : 'Add New Movie' }}</h2>
  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  <form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Year</mat-label>
        <input matInput type="number" formControlName="year" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Rating</mat-label>
        <input matInput type="number" formControlName="rating" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Baked Scale</mat-label>
        <input matInput type="number" formControlName="bakedScale" />
      </mat-form-field>
    </div>
    <button mat-button type="submit" [disabled]="movieForm.invalid">
      {{ isEditMode ? 'Update Movie' : 'Create Movie' }}
    </button>
  </form>
</div>
